* {
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
a:link{
  text-decoration: none;
}
.block{
 display: inline-block;
 width: 10px;
 height: 35px;
 background-color:#e1e6ea;
 margin-right: 16px;
}
/* font chu*/
body {
  font-family: Roboto, sans-serif;
}
.wrapper {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}
h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
}
header {
  background-color: #1d2126;
  height: 81px;
}
header .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper ul li{
  display:inline-block;
  list-style: none;
  word-spacing: 0px;

}
header .wrapper ul li a{
  display: inline-block;
  text-transform: uppercase;
  height: 30px;
  line-height: 28px;
  border-radius: 2px;
  border:2px solid transparent;
  font-weight: normal;
  color: #a4aead;
  padding: 0px 12px;
  font-size: 14px;
  margin-left: 16px;

}
header .wrapper ul li a:hover{
  border: 2px solid #5b6168;
}
header .wrapper ul li a.header-active{
  color: #23b7a4;
  border:2px solid #23b7a4;
}

/*banner */

#banner {
  height: 664px;
  background-image: url(image/banner.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 222px;
  background-color: #1d2126;
}
#banner h2{
  color: white;
  margin-bottom: 26px;
  font-weight: normal;
}
#banner p{
  color: #ccd0d7;
  margin-bottom: 40px;
}
#banner .wrapper {
  position: relative;
  height: 100%;
}
#banner .wrapper div:nth-child(1){
  margin-bottom: 60px;
  width: 615px;
}
#banner .wrapper div:nth-child(2) a{
  text-transform: uppercase;
  display: inline-block;
  padding:0px 15px;
  height: 44px;
  line-height: 44px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  margin-right: 11px;
}
#banner .wrapper div:nth-child(2) a:hover{
  background-color:#23b7a4;
  border: 2px solid transparent;
}
#banner .wrapper ul{
  position: absolute;
  right: 0px;
  bottom: 30px;
}
#banner .wrapper ul li{
  display: inline-block;
}
#banner .wrapper ul li a {
  display: inline-block;
  width: 14px;
  height: 14px;
  border:2px solid white;
  border-radius: 50%;
  text-indent: -1000000px;
  margin-left: 9px;
}
/* We are modest */
#about{
  padding-top: 80px;
  margin-bottom: 181px;
}
#about h2{
  color: #292f36;
  margin-bottom: 65px;
  font-weight: normal;
}
#about h3{
  line-height: 0px;
  font-size: 18px;
  color: #292f36;
  font-weight: normal;
  text-transform: uppercase;
}
#about p{
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #8d8f92;
}
#about .wrapper  > div{
  display: flex;
  justify-content: space-between;
}
#about .wrapper  > div > div:first-child {
  width: 653px;
}
#about .wrapper  > div > div:first-child p{
  color: #8d8f92;
  font-size: 16px
  line-height: 26px;
}
#about .wrapper  > div > div:first-child p:nth-child(2){
  margin-top: 30px;
  margin-bottom: 100px;
}
#about .wrapper  > div > div:first-child ul li{
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  margin-left: -3px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -1000000px;
}
#about .wrapper  > div > div:first-child ul li:hover{
  background-color: #d0d5d9;
  cursor: pointer;
}
#about .wrapper  > div > div:first-child ul li:nth-child(1){
  background-image: url(image/icon/facebook.png);
}
#about .wrapper  > div > div:first-child ul li:nth-child(2){
  background-image: url(image/icon/twitter.png);
}
#about .wrapper  > div > div:first-child ul li:nth-child(3){
  background-image: url(image/icon/google.png);
}
#about .wrapper  > div > div:first-child ul li:nth-child(4){
  background-image: url(image/icon/d.png);
}
#about .wrapper  > div > div:first-child ul li:nth-child(5){
  background-image: url(image/icon/be.png);
}

#about .wrapper  > div > div:last-child {
  width: 457px;
}
#about .wrapper  > div > div:last-child ol{
  counter-reset: about;
}
#about .wrapper  > div > div:last-child ol li{
  padding-left: 67px;
  list-style: none;
  position: relative;
}
#about .wrapper  > div > div:last-child ol li:before{
  counter-increment: about;
  content: counters(about, '.', decimal-leading-zero);
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #23b7a4;
  color: white;
  line-height: 50px;
  text-align: center;
  top: 0;
  left: 0;
}

/*meet the team*/
#team {
  margin-top: 100px;
  margin-bottom: 100px;
}
#team h2 {
  color: #292f36;
  margin-bottom: 60px;
}
#team h4 {
  color: #292f36;
  font-size: 16px;
  line-height: 35px;
  font-weight: normal;
  text-transform: uppercase;
}
#team p{
  color: #8d8f92;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
#team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#team-list >div{
  width: calc((100% - 90px)/4);
}
#team-list >div >div:not(.info){
  position: relative;
}
#team-list >div >div .mask{
  display: none;
  
}
#team-list >div >div >img{
  display: block;
  width: 100%;
}
#team-list >div >div .mask ul li{
 margin-left: -3px;
  background-color: #3a454d;
  text-indent:-1000000px; 
  display: inline-block;
  width: 50px;
  height: 50px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
}
#team-list >div >div .mask ul li:nth-child(1){
  background-image: url(image/icon/twitter.png);
}
#team-list >div >div .mask ul li:nth-child(2){
  background-image: url(image/icon/facebook.png);
}
#team-list >div >div .mask ul li:nth-child(3){
  background-image: url(image/icon/linkedin.png);
}
#team-list >div >div .mask ul li a{
  display: inline-block;
}
#team-list >div > .info{
  height: 74px;
  background-color: #e1e6ea;
}
#team-list >div:hover >div .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#team-list >div >div .mask ul li:hover{
  cursor: pointer;
  background-color: #4e5a62;
}
#team-list >div:hover > .info{
  background-color:#3a454d;
}
#team-list >div:hover > .info p,
#team-list >div:hover > .info h4{
  color: white;
}
/* lovely work*/

#work {
  margin-top: 100px;
  padding-top: 86px;
  background-color: #3a454d;
  padding-bottom: 60px;
}
#work h2 {
  color: white;
  margin-bottom: 65px;
}

#work .wrapper >div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#work .wrapper > div >div{
  width: calc((100% - 60px)/3);
}
#work .wrapper > div >div img{
  display: block;
  max-width: 100%;
}
#work .wrapper >div >div{
  margin-bottom: 30px;
  position: relative;
}
#work .wrapper >div >div:hover .work-mask{
  cursor: pointer;
  display: block;
  width: 100%;
  height: 206px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(41,47,54,0.5);
  background-image: url(image/icon/plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
#work h3 {
 font-size: 18px;
  padding-left: 20px;
  display: none;
  position: absolute;
  bottom: 0px;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
#work .wrapper >div >div:hover h3 {
  text-transform: uppercase;
  font-weight: normal;
  background-color: #292f36;
  color: white;
  display: block;
}
.show-more button {
     margin-bottom: 60px;
     padding: 0px 30px;
     outline-style: none;
     background: transparent;
     position: center;
     margin:0px auto;
     text-transform: uppercase;
     display: inline-block;
     padding: 0px 15px;
     height: 44px;
     line-height: 44px;
     border: 2px solid white;
     border-radius: 3px;
     color: white;
}
.show-more button:hover{
  cursor: pointer;
  background-color: #23b7a4;
}
/* What we do */
#do h2{
 color: #292f36;
  margin-top: 80px;
}
#do >div ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px;
}
#do{
  
}
#do >div  ul li{
  display: inline-block;
  list-style: none;
  width: calc((100% - 40px)/4);
  height: 221px;
  background-repeat: no-repeat;
  background-position: center 0px;
  margin-bottom: 101px;
}
#do >div ul li:nth-child(1) {
  background-image:url(image/icon/setup.png);
}
#do >div ul li:nth-child(2) {
  background-image:url(image/icon/desgin.png);
}
#do >div ul li:nth-child(3) {
  background-image:url(image/icon/mobile.png);
}
#do >div ul li:nth-child(4) {
  background-image:url(image/icon/clock.png);
}
#do >div ul li:nth-child(5) {
  background-image:url(image/icon/setup.png);
}
#do >div ul li:nth-child(6) {
  background-image:url(image/icon/desgin.png);
}
#do >div ul li:nth-child(7) {
  background-image:url(image/icon/mobile.png);
}
#do >div ul li:nth-child(8) {
  background-image:url(image/icon/clock.png);
}
#do > div ul li h3 {
  line-height: 0px;
  text-align: center;
  line-height: 17px;
  text-transform: uppercase;
  margin-top: 83px;
  color: #292f36;
  font-weight: normal;
}
#do > div ul li p{
  margin-top: 25px;
  color: #8d8f92;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
}

/* Features*/
#features {
 margin-bottom: 64px;
 padding-top: 85px;
 padding-bottom: 120px;
 background-color: #3a454d;
}
#features h2 {
 color: white;
 margin-bottom: 60px; 
}
#features h3 {
 margin-top: 47px;
 text-transform: uppercase;
 color: white;
 font-size: 18px;
 line-height: 42px;
 font-weight: normal;
 margin-bottom: 18px;
}
#features p {
 color:white;
 font-size: 16px;
 line-height: 26px;
}
#features > div{
 display: flex;
 justify-content: space-between;
}
#features > div > div {
 width: calc((100% - 60px)/3)
}
#features > div > div img {
 display: block;
 max-width: 100%;
}

/* contact*/
#map{
 width: 100%;
 height: 346px;
 left: 0;
 background-image: url(image/map.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;

}
#contact >div.wrapper {
 position: relative;
 display: flex;
 justify-content: space-between;
}

#contact h2{
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 42px;
  color: #292f36;
  font-weight: normal;
}
#contact .wrapper > div  p{
  font-size: 16px;
  line-height: 26px;
  color: #8d8f92;
  font-weight: normal;
}
#contact .wrapper > div  > p{
  margin-bottom: 40px;
}
#contact .wrapper > div h3 {
  text-indent: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #292f36;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 32px; 
}
#contact .wrapper > div:nth-child(1){
 margin-top: 60px;
 max-width: calc((100% - 30px)/2);
  margin-bottom: 100px;
}

#contact .wrapper form {
 position: absolute;
  background-color: white;
  max-width: calc((100% - 30px)/2);
  top: -129px;
  right: 0px;
  padding: 30px;
  z-index: 2;
}
#top{
  display: flex;
  justify-content: space-between;
}
#contact form label{
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #8d8f92;
  line-height: 26px;
  display:block;
}
#top div {
  width:calc((100% - 15px)/ 2);
}
#top input {
  width: 100%;
  height: 44px;
}
#bot {
  margin-top: 24px;
  width: 100%;
  margin-bottom: 30px;
}
#bot textarea {
  width: 100%;
  height: 159px;
}
form input,textarea {
  outline: none;
  background-color: #eaeef1;
  border: none;
  border-radius: 1px;
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  color: #4a4c4e;
}
form button {
  text-transform: uppercase;  
  display: inline-block;
  line-height: 40px;
  font-weight: normal;
  height: 44px;
  padding: 0 30px;
  color: white;
  border: 2px solid white;
  border-radius: 2px; 
  margin-right:11px;
  font-size: 14px;
  background: #23b7a4;
  border-color: #23b7a4;
  outline:none;
  cursor: pointer;
}

/* Footer*/

footer{
  background-color: #3a454d;
}
footer .wrapper{
  padding-top: 47.5px;
  height: 95px;
  display: flex;
  justify-content: space-between;
}
footer ul li{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
footer p{
  font-size: 14px;
  color: white;
}
footer ul li a{
  display: inline-block;
  width: 33px;
  height: 21px;
  text-indent: -1000000px;
}
footer ul li:nth-child(1){
  background-image: url(image/icon/twitter.png);
}
footer ul li:nth-child(2){
  background-image: url(image/icon/facebook.png);
}
footer ul li:nth-child(3){
  background-image: url(image/icon/skype.png);
}
footer ul li:nth-child(4){
  background-image: url(image/icon/be.png);
}
footer ul li:nth-child(5){
  background-image: url(image/icon/linkedin.png);
}

/*responsive */

@media screen and (max-width: 960px){
 #banner{
  padding-top: 100px;
  height: 545px;
 }
 #banner > div >div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }
 #banner .wrapper ul {
  position: static;
  text-align: center;
  margin-top: 100px;
 }
#about .wrapper > div > div:first-child,
#about .wrapper > div > div:last-child
{
    width: 50%;
}
#top div {
    width: 100%;
}
#top {
 flex-wrap: wrap;
}
#top input{
 margin-bottom: 15px;
}


}

@media screen and (max-width: 768px) {
 header {
  height: 115px;
 }
 header .wrapper{
  display: block;
 }
 header h1 {
  text-align: center;
 }
 header > div > ul{
  margin-top: 15px;
  text-align: center;
 }
 #about h2{
  text-align: center;
 }
 #about .wrapper > div {
  display: block;
 }
 #about .wrapper > div > div:first-child p:nth-child(2) {
    margin-bottom: 50px;
   }
 #about .wrapper > div > div:first-child, 
 #about .wrapper > div > div:last-child {
    width: 100%;
    margin-bottom: 30px;
   }
   #banner {
    padding-top: 40px;
    padding-bottom: 50px;
    height: 495px;
   }
   #banner > div >div{
    max-width: 60%;
   }
   #about .wrapper ul {
    max-width: 310px;
    margin:0px auto;
    text-align: center;
    margin-bottom: 50px;
   }
   #about {
    margin-bottom: 70px;
   }
   #team {
    margin-top: 70px;
   }
   #do >div ul li{
    width: calc((100% - 30px)/2);
    margin-bottom: 40px;
   }
   #team {
    margin-bottom: -50px;
   }
   #do h2 {
    margin-top: 40px;
   }
   #do >div ul{
    margin-top: 50px;
   }
   #team-list >div {
    width: calc((100% - 15px)/2);
}
   #features{
    padding-top: 50px;
    padding-bottom: 20px;
   }
   #features >div {
    display: block;
   }
   #features > div > div{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
   }
   #features > div > div img {
    margin:0 auto;
   }
   #features h3{
    margin-top: -5px;
    margin-bottom: -11px;
   }
   #contact > div.wrapper {
    display: block;
   }
   #contact .wrapper form {
    position: static;
    max-width: 100%;
   }
   #contact .wrapper > div:nth-child(1) {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
   }
   form button{
    width: 100%;
   }

}
@media screen and (max-width: 500px){
  #work .wrapper > div >div img{
  margin:0 auto;
 }
 #banner{
  height: 350px;
 }
 header {
  height: 145px;
 }
 #banner .wrapper div:nth-child(1){
  max-width: 100%;
  margin-bottom: 15px;
 }
 h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
   }

   #banner > div >div {
    max-width: 100%;
   }

   #banner .wrapper div:nth-child(2) a {
    padding:0 10px;
    margin: 0px;
   }
   #banner .wrapper ul{
    margin-top: 30px;
   }
   #about{
    padding-top: 30px;
    margin-bottom: 0px;
   }
   #about h2{
    margin-bottom: 30px;
   }
   #about .wrapper > div > div:first-child ul li{
    height: 50px;
    width: 50px;
   }
   #about h3{
    line-height: 24px;
   }
   #team{
    margin-top: 0px;
   }
   #team h2{
    margin-bottom: 30px;
   }
   #team-list >div {
    width: 100%;
    margin-bottom: 10px;
   }
   #team-list >div:hover >div .mask{
    bottom: 0;
   }
   #work{
    margin-top: 60px;
    padding-top: 30px;
   }
   #work .wrapper >div >div{
    width: 100%;
   }
   #do >div ul li{
    width: 100%;
    background-position: 0 -1px;
    height: 130px;
   }
   #do > div ul li h3 {
    text-align: none;
    margin-top: 0px;
    margin-left: 20px;

   }
   #do > div ul li p{
    text-align: none;
   }

   #features {
    padding-top: 30px;
    margin-bottom: 30px;
   }
   #features h2{
    margin-bottom: 30px;
   }
   #contact .wrapper form{
    padding:0px;
    margin-bottom: 10px;
   }
   #top input{
    margin-bottom: 0px;
   }
   #contact h2{
    font-size: 25px;
    margin-bottom: 30px;
   }
   #contact .wrapper > div:nth-child(1){
    margin-bottom: 0px;
   }
   footer .wrapper{
    padding-top: 0px;
    display: block;
    height: 80px;
    text-align: center;
   }
   footer p{
    padding-top: 7px;
    text-align: center;
    margin-bottom: 10px;
   }

} 

@media screen and (max-width: 300px){
 h2 {
  font-size: 20px;
 }
 header{
  height: 140px;

 }
 header .wrapper ul li a{
  margin-left: 0px;
  padding: 0 8px;
  height: 25px;
  line-height: 23px;

 }
 #banner {
  padding-top: 10px;
  height: 300px;

 }
 #banner h2{
  margin-bottom: 10px; 
 }
 #banner p{
  margin-bottom: 10px; 
 }
 #banner .wrapper div:nth-child(2) a {
  padding: 0px 0px; 
  border: 1px solid white;
 }
 #about{
  padding-top: 10px;
 }
 #about h2{
  margin-bottom: 10px;
 }
 #about p{
  margin-top: 0px;
  margin-bottom: 0px;
 }
 #about .wrapper > div > div:first-child p:nth-child(2){
  margin-bottom: 15px;
  margin-top: 10px;
 }
 #about .wrapper ul {
  margin-bottom: 0px;
 }
 #about .wrapper > div > div:first-child ul li{
  height: 39px;
  width: 39px;
 }
 #about h3{
  font-size: 15px;
 }
 #about p{
  font-size: 14px;
 }
 #about .wrapper > div > div:last-child ol li:before{
  height: 40px;
  width: 40px;
 }
 #about .wrapper > div > div:last-child ol li{
  padding-left: 40px;
 }
 #work h2{
  margin-bottom: 20px;
 }
 #do > div ul li p{
  margin-top: 12px;
  font-size: 14px;
  text-align: none;
  padding-left: 27px;
 }
 #do h2 {
  margin-top: 20px;
 }
 #do > div ul li{
  margin-bottom: 10px;
  background-size: 30px;
 }
 #do > div ul li h3{
  padding-left: 22px;
  font-size: 15px;
 }
 #contact h2{
  font-size: 22px;
  margin-bottom: 10px;
 }
 #contact .wrapper > div:nth-child(1){
  margin-top: 20px;
 }
 #contact .wrapper > div h3{
  font-size: 16px;
  margin-bottom: 15px;
 }
 #contact .wrapper > div > p {
  margin-bottom: 5px;
  font-size: 14px;
 }
 #work .wrapper >div >div{
  margin-bottom: 15px;
 }
 #work {
  padding-bottom: 20px;
 }
 .show-more button {
  height: 35px;
  line-height: 35px;
 }
 #features p{
  font-size: 14px;
  line-height: 22px;
 }
 #features h3{
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 25px;
 }
}
